@charset 'utf-8';

body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:11px;
	background-repeat: repeat; padding: 0; margin: 0;
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  justify-content: center;
  overflow-x: hidden;
}


#index {
 background:url('https://www.radiochoup.com/img/bg_c.jpg') no-repeat top center;
 background-color:#CD7784;
}

#logo {
 height:100px;
}

#page {
  max-width : 964px;
}

#header {
  background :url(/img/background_menu.png) repeat top left;
  height : 146px;
  max-width : 964px;
}




#links_block_left {
  margin-top:38px;
}

#links_block_left ul {
 list-style:none
}

#links_block_left li a{
  color:#ef929d;
  font-size:1.3em;
  text-decoration:none;
  border-top:2px dotted #ef929d;
  border-bottom:2px dotted #ef929d;
}

#links_block_left li {
  color:#ef929d;
  font-size:0.6em;
  text-decoration:none;
}

#header #links_block_left ul li a:hover,
#header #links_block_left ul li a.active {
 color:#ef929d;
 text-decoration:none;
 border-top:2px dotted #ef929d;
 border-bottom:2px dotted #ef929d;
}

#imgplayerButton {
  height : 53px;
}

#bgCover {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    transition: background-image 1s;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.bg-mask {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, .5) 20%, #000 85%);
    z-index: 2;
}

.web-player {
  background:url('https://www.radiochoup.com/img/radio_ancienne.png') no-repeat top;
  background-size: cover;
  width  :673px;
  height :475px;
}

.web-playerGSM {
  background:url('https://www.radiochoup.com/img/radio_ancienne_gsm.jpg') no-repeat top;
  background-size: cover;
  width  :370px;
  height :600px;
}

  /* extrait de taille 768 */
  .cover-album {
      margin: 10px auto;
      min-width: 80px;
      height: 80px;
  }

a, a:visited, a:active, a:hover, a:link, a:visited, a:hover, a:active{
    color: #000!important;
    text-decoration: none!important;
    font-size : 10px;    
}

.logo_covert {
   position: fixed;
   background-size: cover;
   background-position: center;
   transition: background-image 1s;
   background-attachment: fixed;
   background: url('../img/Tableau.png') no-repeat;
}
      .backCoverArt{
         width: 50%;
         height: 50%;   
         background-size: cover;
         background-position: center;
         transition: background-image 2s;
         background-attachment: fixed;
         background: url('../img/bg-capa.jpg') no-repeat;
      }
      #currentCoverArt {
         position : relative;
         top : 61px;
         left: 37px;
         width: 32%;
         height: 32%;
         background-size: cover;
         background-position: center;
         transition: background-image 2s;
         background-attachment: fixed;
         background: url('../img/background.jpg') no-repeat;
         box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);
      }
      
      .covert-position{
         top : 280px;
         left : 07px;
      }
      
      .covert-position-gsm{
         top : 242px;
         left : -19px;
      }
      .covert-position-gsm-btn{
         top : 185px;
         left : -6px;
      }
      
      .currentCover{
         background-size: cover;
         background-position: center;
         transition: background-image 2s;
         background-attachment: fixed;
      }
      .cover-album {
         border: 0px solid #383838;
         /*box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);*/
         transition: background-image 1s;
      }
      .watermark {
          width: 89px;
          height: 35px;
          opacity: 1;
          position : relative;
          bottom: 36px;
          right: 35px;
          z-index: 5;
          background: url(/img/logo.png) no-repeat;
          background-size: auto 39px;
      }


.cover-site {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background: url('../img/background.jpg') no-repeat;
    background-position: center;
    /*background-size: cover;*/
    transition: background-image 1s;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    display: none;
}

.historicBox {
   border: 2px solid #fff;
}

.info-current-song {
    font-family: 'Share', sans-serif;
    text-align: center;
    color : #fff
}

#currentArtist, #currentArtistgsm {
    font-size: 11px;
    font-weight: 700;
    color : #fff;
}

#currentSong, #currentSonggsm {
    margin-top : 5px; 
    font-size: 10px;
    font-weight: 700;
    color : #fff;    
}

.play-pause {
}

.play-pause i {
}

.relief {
   border-style:groove;
   padding : 1px;   
}

.volume-icon {
   font-size: 22px;
   width : 30px;
   margin-top: -2px;
   color : #71bfbb;
   }
   
.fa-volume-up{
   box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);
   padding : 3px;
   }

.volume-slide {
   line-height: 20px;
   box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.4);
   padding : 3px;
   top : 3px;
}

.play-pause{
   top : 15px;
   left : 8px;
}

.volume-control {
    display: none;
}

.vagalume a {
    color : #71bfbb;
    text-decoration: underline;
}

.lyrics .history .Programmation {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    transition: .3s;
}

.lyrics:active, history:active, Programmation:active {
    text-decoration: none;
    color: #fff;
}

.lyrics:visited, history:visited, Programmation:visited {
    text-decoration: none;
    color: #000;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #000 !important;
    border-radius: 0;
}

.modal-content .btn {
    border-radius: 0;
}

/* Chrome */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fff;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

/* Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fff;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/* IE e Edge */
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}


.historic {
  /*position : relative;*/
  margin-bottom : 15px;
}

.modal-title{
   font-size: 20px;
}

.modal-body{
   font-size: 13px;
}

.historic h2 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.historic article {
}

.historic .cover-historic {
    width: 95px;
    height: 95px;
    /*float: left;*/
    background: url('../img/bg-capa.jpg') no-repeat;
    background-size: cover;
    border: 1px solid #383838;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-image 1s;
}

.historic .music-info {
    color: #000;
    font-family: 'Share', sans-serif;
}

.historic .music-info .song {
    width: 100%;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: -5px;
}

#programme {
    background-color: #fff;
    font-size: 14px;
}

#prog-head {
    display: block;
    height: 24px;
}

#prog-hours {
    width: 50px;
    float: left;
}

#prog-grille {
    margin-left: 60px;
    margin-top: 9px;
}

#programme #prog-head .head-d:first-child {
    width: 60px;
    border: 0;
}

.head-d:first-child {
    width: 60px;
    border: 0;
}

#programme #prog-head .head-d {
    text-align: center;
    display: inline-block;
    margin-right: 2px;
    width: 93px;
    border: 1px solid #E5E5E5;
}

#programme #prog-hours .hours-h {
    display: block;
    height: 25px;
    text-align: right;
    margin-right: 11px;
}



@media(max-width: 576px) {
   #index {background:none;background-color:#CD7784;}
}

@media(min-width: 576px) {
}

@media(min-width: 768px) {
}

