# Streaming
STREAM_TYPE=icecast
STREAM_URL=https://icecast.cef-informatique.com:8443/stream
STREAM_STATUS_URL=https://icecast.cef-informatique.com:8443/status-json.xsl
NOW_PLAYING_POLL_INTERVAL_MS=4000

# APIs externes (server only)
VAGALUME_API_KEY=cbc39186887ccc4786fe5bef2ab49270
ITUNES_CACHE_TTL_S=86400
LYRICS_CACHE_TTL_S=604800

# Public
NEXT_PUBLIC_RADIO_NAME=Radio Choup
NEXT_PUBLIC_DEFAULT_COVER=/img/bg-capa.jpg
NEXT_PUBLIC_SITE_URL=https://www.radiochoup.com
